@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 --bgLight: #ffffff;
 --textLight: #333333;
 --bgNight: #121212;
 --textNight: #e0e0e0;
 --btn: #3673fd;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--bgNight);
  color: var(--textNight);
}

container {
  width: 1536px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
